<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <%- include('header', {user_name: user_name}); %>
</header>

<h1>Team ID <%= id %> </h1>

</body>